ENGINE_PATH=/usr/local/bin/stockfish

SECRET_KEY_BASE=XXXX
FORCE_SSL=false
HOSTNAME='www.example.com'
MAIL_FROM='admin@example.com'
PW_PEPPER='mylongpeppervalue'

SMTP_PORT=587
SMTP_ADDRESS='smtp.example.com'
SMTP_DOMAIN='example.com'
SMTP_USERNAME='foo'
SMTP_PASSWORD='bar'

TWILIO_AUTH_TOKEN='my_token'
