body {
  grid-template-columns: none;
}

main {
  padding-top: 0;
  max-width: 390px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

div button {
  margin-right: 16px;
}
div button:last-child {
  margin-right: 0;
}

dl, details {
  width: 100%;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}

dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

.chessboard {
  width: 100%;
  margin: 1rem;
  border: 4px solid #333;
}

.notice {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}
.notice:empty {
  display: none;
}

.highlight-red-check {
  box-shadow: inset 0 0 3px 3px red;
}
