<%- content_for(:title) { 'Users' } -%>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Games</th>
    </tr>
  </thead>

  <tbody>
    <%- if @users.each do |user| -%>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.games.count %></td>
      </tr>
    <%- end.empty? -%>
      <tr>
        <td colspan="9">There are currently no users. <%= link_to 'Sign up', new_user_registration_path %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
